$font-family-sans-serif: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

$primary: #1155cb;
$secondary: #17a956;
$light: #EDF5FB;
$light-gray: #DAE3F2;
$primary-light: #1456CB;
$bg-gray: rgba(217, 217, 217, 0.25);
$footer-title-color: #7D91B3;
$footer-link-color: #0A2B66;
$footer-badge-color: #D9E7FF;
$text-color: #35363A;


$btn-font-size: 1.125rem;
$btn-padding-x: 0.5rem;
$btn-padding-y: 1.5rem;

$space-sm: 0.5rem; //8px
$space-md: 1rem; //16px
$space-lg: 1.5rem; //24px
$space-xl: 2rem; //32px
$space-xxl: 2.5rem;

$font-size-xl: 3rem; //48
$font-size-lg: 2.25rem; 
$font-size-md: 1.25rem;
$font-size-sm: 1rem; //16
$font-size-xs: 0.875rem;
$font-footer-link-size: 15px;